APP_NAME=SignFlow
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:ReplaceWithAReal32ByteKeyGeneratedBelow
APP_URL=http://VOTRE_IP_OU_DOMAINE
FRONTEND_URL=http://VOTRE_IP_OU_DOMAINE
CORS_ALLOWED_ORIGINS=http://VOTRE_IP_OU_DOMAINE

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=signflow
DB_USERNAME=signflow
DB_PASSWORD=changez-ce-mot-de-passe

REDIS_HOST=redis
REDIS_PORT=6379

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_STORE=redis
SESSION_DRIVER=redis

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@signflow.local
MAIL_FROM_NAME=SignFlow
# SMTP (Gmail : mot de passe d'application, pas le mot de passe du compte)
# MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_ENCRYPTION=tls
# MAIL_USERNAME=votre.email@gmail.com
# MAIL_PASSWORD=xxxx xxxx xxxx xxxx
# MAIL_FROM_ADDRESS=votre.email@gmail.com

SANCTUM_STATEFUL_DOMAINS=VOTRE_IP_OU_DOMAINE
LIBREOFFICE_PATH=/usr/bin/soffice
RUN_SEED=true
